/*
colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

body {
    border: solid 1.5px #ffd24a;
    border-radius: 4px;
    background-image: url("img/bg.jpg");
    background-repeat: repeat-y repeat-x;
    margin: 10px 80px 10px 80px;
}

#site_header {
    background-color: #ff8523;
    padding: 20px 20px 30px 20px;
}

#page_content {
    background-color: #fff;
    padding: 10px 20px 0px 20px;
    padding-bottom: 30px;
}

#page_content section {
    border-bottom: 3px solid #dddddd;
}

.main_navigation a {
    font-weight: bold;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 25px 10px 25px;
}


/*
#logo {
    padding: 100px 30px 200px 0px;
}*/

a {
    color: #1fabe5;
}

a:hover {
    color: #046c97;
}

section h1, h2, h3 {
    color: #1fabe5;
}

table {
    border: 1px solid #1fabe5;
}

thead {
    background-color: #1fabe5;
    color: white;
}