/*
colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

body {
    border: solid 2px #ffd24a;
    border-radius: 4px;
    background-image: url("img/bg.jpg");
    background-repeat: repeat-y repeat-x;
    margin: 10px 80px 10px 80px;
}

#site_header {
    background-color: #ff8523;
    padding: 20px 20px 40px 20px;
}

#page_content {
    background-color: #fff;
    padding: 10px 20px 0px 20px;
    padding-bottom: 20px;
}

#page_content section {
    border-bottom: 4px solid #dddddd;
    padding-bottom: 30px;
    padding-top: 10px;
}

#page_content li {
    font-weight: bold;
}

.main_navigation {
    margin-top: 20px;
}

.main_navigation a {
    font-weight: bold;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 25px 10px 25px;
}

a {
    color: #1fabe5;
}

a:hover {
    color: #046c97;
}

section h1, h2, h3 {
    color: #1fabe5;
}

table {
    border: 1px solid #1fabe5;
    width: 100%;
}

thead td {
    border: 1px solid #046c97;
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: #1fabe5;
}

table, td {
    border: 1px solid #1fabe5;
    border-collapse: collapse;
    margin-bottom: 15px;
}

tbody td {
    padding: 10px;
}

tbody td img {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    background-color: #ddd;
    border-radius: 6px;
    padding: 20px;
    font-weight: bold;
}

form .city_container {
    padding: 20px 0;
}

form .name {
    background-color: #ff8523;
    border-radius: 6px;
    padding: 20px;
    color: #fff;
}

.name label {
    margin-left: 5px;
}

#first_name, #last_name {
    height: 40px;
    width: 30%;
    display: inline;
}

.name label:nth-of-type(2) {
    margin-left: 20px;
}

#bio {
    width: 97%;
    height: 200px;
    border-color: #1fabe5;
    margin: 10px 0;
    font-size: 1em;
    padding: 10px;
}

#submit_button {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #1fabe5;
    border-radius: 4px;
    border: 0;
    padding: 15px;
    width: 100px;
    margin-top: 10px;
}